[Desktop Entry]
Encoding=UTF-8
Name=PandaCoin
Comment=PandaCoin P2P Cryptocurrency
Comment[fr]=PandaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PandaCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/pandacoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/pandacoin128.png
MimeType=x-scheme-handler/pandacoin;
Categories=Office;
